/* GLOBAL AND MOBILE STYLES FIRST */

body {
  margin:0;
  padding:0;
  background: #222;
  color: #222;
  text-align: center;
}
header {
  background: #ccc;
  color: #444;
}
nav {
  background: #aaa;
  display: none;
}
nav a {
  padding: 1em 5em;
  display: block;
}
#menu {
  padding: 1em;
  background: #fff;
  display: block;
  position:fixed;
  overflow:show;
  z-index:100;
}
.show-menu {
  display: block;
  position:fixed;
}
a {
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}
main {
  background: #eee;
  padding: .5em;
}
section {
  background: #888;
}

    #edhistorytbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    #edhistorytbl td, #edhistorytbl th {
    border: 1px solid #ddd;
    padding: 8px;
    }

     #edhistorytbl tr:nth-child(even){background-color: #f2f2f2;}

    #edhistorytbl tr:hover {background-color: #ddd;}

    #edhistorytbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
    }


/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 300px) {
  header {
    background: #444;
    color: #ccc;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: #777;
  }
  h1 {
    font-size: 2em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 44%;
    margin: 2%;
    display: inline-block;
    background: #444;
    color: #999;
  }
  section:hover {
    background: #666;
  }
}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 600px) {
  header {
    background: #222;
    color: #ccc;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  main {
    max-width: 1000px;
  }
  section {
    width: 22%;
    margin: 1em 1% 1em 1%;
    background: #222;
    border-color: #666;
    font-size: 1.5em;
  }
}
/* END SECOND BREAKPOINT */
